.card-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  max-width: 1400px;
  border: solid black 3px;
  padding: 2rem;
}

.winner {
  min-height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 4rem;
}

.winner button {
  font-size: 2rem;
  border-radius: 5px;
}
